body {
    background: #EEEEEE;
    color: #666;
    font-family: 'Lato';
    font-size: 1.5em;
}

header {
	background: #ddbad7;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

header h1 {
	color:#FFFFFF;
	margin: 10px 80px 0 0;
	font-size:3em;
	font-family: 'Stalemate', cursive;
	font-weight: bolder;
	text-align: center;
	
}
header figure
{
	float: left;
}

nav
{
	background: #5abc56;
	position: relative;
}

footer
{
	background: #5abc56;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;	
}

footer p:first-child
{	
	margin-bottom: 0;	
}
footer p:last-child
{
	margin-top: 0;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
}

nav ul li a:hover img {
    border-radius: 50%;
	width:50px;
}

nav ul li a img
{
	border-radius: 50%;
	width:40px;
}

nav ul #sobreMi a
{
	background: #ee4392;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	padding: 0.6em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}


nav ul .redesSociales 
{	
	float: right;
}

header #logo img {
	padding-right: 0.5em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	width: 120px;
	
}



.test
{
	max-height: 600px;
}

