html, body {
    background: #FFF;

}

body{
	 color: #666;
    font-family: 'Lato';
    font-size: 1.5em;	

	
}

header {
	background: #ddbad7;
	overflow: hidden;
	padding: 0.7em;
	position: relative;
}

header h1 {
	color:#FFFFFF;
	margin: 10px 80px 0 0;
	font-size:3.8em;
	font-family: 'Stalemate', cursive;
	font-weight: bolder;
	text-align: center;
	
}
header figure
{
	float: left;
}

nav
{
	background: #5abc56;
	position: relative;
	
	
}

footer
{
	background: #5abc56;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;	
    height: 6em;
	

}

footer p:first-child
{	
	margin-bottom: 0;	
}
footer p:last-child
{
	margin-top: 0;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding-right: 3em;
}
nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: none;
	color:	 #ddbad7;

}

nav ul li a:hover img {
    border-radius: 50%;
	width:50px;
	text-decoration: none;
}

nav ul li a img
{
	border-radius: 50%;
	width:40px;
}

nav ul #sobreMi a
{
	background: #ee4392;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	padding: 0.6em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}


nav ul .redesSociales 
{	
	float: right;
}

header #logo img {
	padding-right: 0.5em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	width: 120px;
	
}

.imageFooter {
	background-color: #5abc56;
	padding: 25px;
	border-radius: 20px;
	
}

.imageFooter p  {
	color:white;
	font-weight: bolder;
}



.divCorner {
    border-radius: 25px;
    border: 4px solid #ee4392;
    padding: 20px;  
}

.vertical-center {
 padding: 3em;
}

.bioText img{
	
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

#tallModal .modal-body p { margin-bottom: 900px }

#wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


