body {
   background: url('http://imagenes.4ever.eu/data/download/amor/corazones/corazon,-botones-169680.jpg') 100% 0 no-repeat fixed;
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-size: cover;
}
